.drawer {
    position: fixed;
    top: 0;
    z-index: 999999;
    right: -1000px;
    /* Initially off-screen */
    width: 600px;
    height: 100%;
    transition: right 0.3s ease;
    border-left: 1px solid #23558e;
    /* Smooth transition effect */
}

.drawer.open {
    right: 0;
    /* Slide in when the drawer is open */
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 10;
    /* Ensure the overlay is on top of other content */
    display: none;
    /* Initially hidden */
}

.overlay.show {
    display: block;
    /* Show the overlay when the drawer is open */
}