body {
  padding: 0;
  margin: 0;
}


.without-padding input {
  padding: 0px;
}

body {
  overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

.MuiListSubheader-root {
  line-height: 10px !important;
}

.ql-editing {
  left: 0px !important
}

.ql-tooltip {
  left: 0px !important
}

.ql-container {
  max-height: 75%
}

/* Change the white to any color */
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active { 
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
 */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ccc #222325;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    margin: 15px 0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 25px;
    border: 3px solid #64646400;
  }

#emailoutbound input:-webkit-autofill {

  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: black !important;
}

.rs-picker-menu {
  z-index: 9999;
}

.swal2-container {
  z-index: 20000 !important;
}