$full: 100%;
$bg: #dedede;
$white: #fff;
$black: #000;
$grey: #e5e5e5;
$purple: #7A316F;
$lighter: #8e4785;

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html,
body {
    height: $full;
    width: $full;
}


.wrapper {
    @include center;

    h1 {
        color: $white;
        text-align: center;
    }
}

.app_container {
    background-color: $white;
    height: 500px;
    width: 500px;
}


.input {
    min-height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px 15px 20px;
    border-radius: 0 0 20px 20px;

    input {
        flex: 1 0 auto;
        border-radius: 44px;
        height: 40px;
        box-sizing: border-box;
        border: 0;
        padding: 0 20px;
        color: $black;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        outline: none;
    }

    button {

    }
}

.selectState {
    padding: 5px;
}

.selectState:hover{
    background-color: #334;
    border-radius: 5px;
    cursor: pointer;
}

.messages {
    height: calc(100% - 50px);
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius:20px 20px 0 0 ;
    
    .msg {
        padding: 10px;

        span {
            display: inline-block;
            max-width: 80%;
            border-radius: 3px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            box-sizing: border-box;
            padding: 10px;
        }
    }

    .sender {
        span {
            box-shadow: 0 5px 10px $grey;
            background: $white;
            color: black
        }
    }

    .receiver {
        display: flex;
        justify-content: flex-end;

        span {
            background: darken($purple, 5);
            color: $white;
        }
    }
}